
<div class="ms_album_single_wrapper ms_artist_single">
  <div class="album_single_data">
    <div class="album_single_img">
      <img src="{{singer.imageUrl}}" alt="" class="img-fluid">
    </div>
    <div class="album_single_text">
      <h2>{{singer.name}}</h2>
      <div class="singer_name">
        <span > DOB: {{singer.dateOfBirth}} </span>
      </div>
      <div class="singer_name">
        <span > Gender: {{singer.gender}} </span>
      </div>
      <div class="singer_name">
        <span > popularSong: {{singer.popularSong}} </span>
      </div>
      <div class="singer_name">
        <span > band: {{singer.band}} </span>
      </div>
      <div class="singer_name">
        <span> Genres: </span> <span *ngFor="let genre of singer.genres">{{genre.name}} </span>
      </div>
      <div class="singer_name">
        <span > biography: {{singer.biography}} </span>
      </div>
      <div class="singer_name">
        <span > additionalInfo: {{singer.additionalInfo}} </span>
      </div>

      <div class="album_btn">
        <a href="#" class="ms_btn play_btn"><span class="play_all"><img src="assets/images/svg/play_all.svg"
                                                                        alt="">Play All</span><span
          class="pause_all"><img src="assets/images/svg/pause_all.svg" alt="">Pause</span></a>
        <a href="#" class="ms_btn"><span class="play_all"><img src="assets/images/svg/add_q.svg" alt="">Add To Queue</span></a>
      </div>
    </div>
    <div class="album_more_optn ms_more_icon">
      <span><img src="assets/images/svg/more.svg" alt=""></span>
    </div>
    <ul class="more_option">
      <li><a *ngIf="userToken.id == singer.user.id" routerLink="/singer/edit/{{singer.id}}"><span class="opt_icon"><span class="icon icon_queue"></span></span>Edit</a>
      </li>
      <li>
        <a *ngIf="userToken.id == singer.user.id" class="btn-confirm" [attr.data-playlistId]="singer.id" data-toggle="modal" data-target="#delete-playlist-confirm">
          <span class="opt_icon"><span class="icon icon_queue"></span></span>Delete</a></li>
    </ul>
  </div>
  <!----Song List---->
  <div class="album_inner_list">
    <div class="album_list_wrapper">
      <ul class="album_list_name">
        <li>#</li>
        <li>Song Title</li>
        <li>Artist</li>
        <li class="text-center">Add To Favourites</li>
        <li class="text-center">More</li>
      </ul>
      <ul *ngFor="let song of singer.songs; index as i">
        <li><a href="#"><span class="play_no">{{i+1}}</span><span class="play_hover"></span></a></li>
        <li><a href="#">{{song.name}}</a></li>
        <li><span *ngFor="let genre of song.genres"> {{genre.name}} </span></li>
        <li class="text-center"><a href="#"><span class="ms_icon1 ms_fav_icon"></span></a></li>
        <li class="text-center ms_more_icon"><a href="javascript:;"><span
          class="ms_icon1 ms_active_icon"></span></a>
          <ul class="more_option">
            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To
              Favourites</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To
              Queue</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download
              Now</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To
              Playlist</a></li>
            <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="ms_view_more padder_bottom20">
    <a  class="ms_btn">view more</a>
  </div>
</div>


