<div class="ms_profile_wrapper">
  <h1>Edit Profile</h1>
  <div class="ms_profile_box">
    <div class="ms_pro_img">
      <img [src]="imgSrc" (click)="preview.click()" class="img-fluid">
      <div class="pro_img_overlay">
        <i class="fa_icon edit_icon">
          <input type="file" #preview (change)="showPreviewImg($event)">
        </i>
      </div>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="update()">
      <div class="ms_pro_form">
        <div class="form-group">
          <label>Your Name </label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Your Address </label>
          <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="form-group">
          <label>Your Phone Number *</label>
          <input type="text" class="form-control" formControlName="phoneNumber">
          <div *ngIf="userForm.get('phoneNumber').dirty ">
            <p class="showErrorInput" *ngIf="userForm.get('phoneNumber').errors?.required">Phone
              number required</p>
            <p class="showErrorInput"  *ngIf="userForm.get('phoneNumber').errors?.pattern">At least 10 numbers & start with 0 or 84</p>
          </div>
        </div>
        <div class="form-group">
          <label>Your Email </label>
          <input type="text" class="form-control" formControlName="email">
          <div *ngIf="userForm.get('email').dirty">
            <p class="showErrorInput" style="color:red" *ngIf="userForm.get('email').errors?.pattern">Wrong email format</p>
          </div>
        </div>
        <div class="pro-form-btn text-center marger_top15">
          <a style="color: white; cursor: pointer" class="ms_btn" (click)="update()">save</a>
          <a style="cursor: pointer" routerLink="/album" class="ms_btn">cancel</a>
        </div>
      </div>
    </form>

  </div>
</div>
