<div class="ms_weekly_wrapper">
  <div class="ms_weekly_inner">
    <div class="row">
      <div class="col-lg-12">
        <div class="ms_heading">
          <h1>All-time Top 15</h1>
          <span class="veiw_all"><a routerLink="/toplisten">view more</a></span>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 padding_right40">
        <ng-container *ngFor="let song of songs; let i = index">
          <div class="ms_weekly_box">
            <div class="weekly_left">
                                    <span class="w_top_no">
										{{i+1}}
									</span>
              <div class="w_top_song">
                <div class="w_tp_song_img">
                  <img style="width: 50px; height: 50px" src="{{song.imgUrl}}" alt="">
                  <div class="ms_song_overlay">
                  </div>
                  <div class="ms_play_icon">
                    <img (click)="playSong(song)" src="assets/images/svg/play.svg" alt="">
                  </div>
                </div>
                <div class="w_tp_song_name">
                  <h3><a routerLink="/songs/detail/{{song.id}}">{{song.name}}</a></h3>
                  <p>{{song.singers[0].name}}</p>
                  <p>{{song.listenCount}} played</p>
                </div>
              </div>
            </div>
            <div class="weekly_right">
              <span class="ms_more_icon" data-other="1">
										<img src="assets/images/svg/more.svg" alt="">
									</span>
            </div>
            <ul class="more_option">
              <li><a (click)="addToQueue(song)"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>
              <li><a #addButton class="songId" (click)="toogle(addButton)" [attr.data-song-id]="song.id"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a>
              </li>
              <li><a (click)="share(addButton)" ><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>
            </ul>
          </div>
          <div class="ms_divider"></div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
