<div class="ms_header" id="header" (click)="hideSelectOption($event)">
  <div class="ms_top_left">
    <select data-trigger="" name="choices-single-default" id="selectBtn">
      <option placeholder="" class="selectChild" selected="selected">Song</option>
      <option class="selectChild">Playlist</option>
    </select>
    <div class="ms_top_search" id="searchBar">
      <input type="text" class="form-control" placeholder="Search Here.." id="searchPlaylistInput">
      <span id="arrow_drop_down" class="selectChild dropDownChild">
        <i class="fa fa-arrow-down fa-lg selectChild dropDownChild" aria-hidden="true"></i>
      </span>
      <span class="search_icon searchIcon" (click)="search()">
        <img class="searchIcon" src="/assets/images/svg/search.svg" alt="">
      </span>
    </div>
    <div class="ms_top_trend">
      <span><a href="#" class="ms_color">Trending Songs :</a></span> <span class="top_marquee"><a href="#">Dream your moments, Until I Met You, Gimme Some Courage, Dark Alley (+8 More)</a></span>
    </div>
  </div>

  <div class="ms_top_right">
    <div class="ms_top_lang">
      <span data-toggle="modal" data-target="#lang_modal">languages <img src="/assets/images/svg/lang.svg"
                                                                         alt=""></span>
    </div>
    <div *ngIf="currentUser" class="ms_top_btn">
      <a routerLink="/upload" class="ms_btn">upload</a>
      <a class="ms_admin_name" style="top: -7px; color: white">Hello {{currentUser.username}}
        <img src="{{avatarUrl}}" class="img-fluid" style="border-radius: 100%;">
      </a>
      <ul class="pro_dropdown_menu" style="top:74%;">
        <li><a [routerLink]="['/users',currentUser.id]" (click)="hideDropDown()">Profile</a></li>
        <li><a [routerLink]="['/users/pw',currentUser.id]" (click)="hideDropDown()">Change password</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div *ngIf="!currentUser" class="ms_top_btn">
      <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>register</span></a>
      <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>
    </div>
  </div>
</div>
<form action="">
  <div id="advance-search" style="border: 1px solid black" style="border: 1px solid black;
    margin-top: -18px;
    padding-top: 10px;">
    <span class="desc" style="font-size: 25px;font-weight: bold;color: black;margin-left: 12px;">Advanced Search</span>
    <div class="row">
      <div class="input-field" style="width: 100%;margin-bottom: 9px;">
        <div class="input-select" >
          <label class="selectChild bold-word">User:</label>
          <select class="selectChild" id="userSelected" style="margin-left: 5%;">
            <option selected disabled>Choose here</option>
            <option class="selectChild" *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
          </select>
        </div>
      </div>
      <div class="input-field" style="width: 100%;margin-bottom: 9px;">
        <div class="input-select">
          <label class="selectChild bold-word">Genre:</label>
          <select class="selectChild" id="genreSelected" style="margin-left: 2%;width: 30%;">
            <option class="selectChild" *ngFor="let genre of genres" [value]="genre.name">{{genre.name}}</option>
          </select>
        </div>
      </div>
      <div class="input-field">
        <label class="selectChild bold-word">From:</label>
        <input class="selectChild" type="date" id="startDate" name="trip-start"
               value="2021-08-01"
               min="2021-01-01" max="2021-12-31"
        >
      </div>
      <div class="input-field">
        <label class="selectChild bold-word" style="margin-left: 6px;">To:</label>
        <input class="selectChild" type="date" id="endDate" name="trip-start"
               value="2021-08-09"
               min="2021-01-01" max="2021-12-31">
      </div>
    </div>
  </div>
</form>

