<div class="ms_header" id="header" (click)="hideSelectOption($event)">
  <div class="ms_top_left">
    <select data-trigger="" name="choices-single-default" id="selectBtn">
      <option placeholder="" class="selectChild" selected="selected">Song</option>
      <option class="selectChild">Playlist</option>
      <option class="selectChild">Singer</option>
      <option class="selectChild">Song's label</option>
    </select>
    <div class="ms_top_search" id="searchBar">
<!--      <select id="labelSearch" class="js-example-basic-single" name="state" style="width:100%">-->
<!--        <option *ngFor="let label of labels" [value]="label.id">#{{label.name}}</option>-->
<!--      </select>-->
<!--      <span class="search_icon searchIcon" (click)="search()">-->
<!--        <img class="searchIcon" src="/assets/images/svg/search.svg" alt="">-->
<!--      </span>-->
      <input type="text" class="form-control" placeholder="Search Here.." id="searchPlaylistInput" autocomplete="off">
      <span id="arrow_drop_down" class="selectChild dropDownChild">
        <i class="fa fa-arrow-down fa-lg selectChild dropDownChild" aria-hidden="true"></i>
      </span>
      <span class="search_icon searchIcon" (click)="search()">
        <img class="searchIcon" src="/assets/images/svg/search.svg" alt="">
      </span>
    </div>
  </div>

  <div class="ms_top_right">
<!--    <div class="ms_top_lang">-->
<!--      <span data-toggle="modal" data-target="#lang_modal">languages <img src="/assets/images/svg/lang.svg"-->
<!--                                                                         alt=""></span>-->
<!--    </div>-->
    <app-notification *ngIf="currentUser"></app-notification>
    <div *ngIf="currentUser" class="ms_top_btn">
      <a routerLink="/upload" class="ms_btn">upload</a>
      <a class="ms_admin_name" style="top: -7px; color: white">Hello {{currentUser.username}}
        <img src="{{avatarUrl}}" class="img-fluid" style="border-radius: 100%;">
      </a>
      <ul class="pro_dropdown_menu" style="top:74%;">
        <li><a [routerLink]="['/users',currentUser.id]" (click)="hideDropDown()">Profile</a></li>
        <li><a [routerLink]="['/users/pw',currentUser.id]" (click)="hideDropDown()">Change password</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
    <div *ngIf="!currentUser" class="ms_top_btn">
      <a href="javascript:;" class="ms_btn reg_btn" data-toggle="modal" data-target="#myModal"><span>register</span></a>
      <a href="javascript:;" class="ms_btn login_btn" data-toggle="modal" data-target="#myModal1"><span>login</span></a>
    </div>
  </div>
</div>
  <div id="advance-search" style="border: 1px solid black;margin-top: -18px; border-radius: 10px">
    <div style="padding: 8px 16px 21px 16px">
        <table style="width:100%">
          <tr>
            <td><label class="selectChild bold-word label-drop-down" style="color: #777">User</label></td>
            <td>
              <input list="usernameSelected" id="userSelected" class="input-box" autocomplete="off">
              <datalist class="selectChild" id="usernameSelected">
                <option *ngFor="let user of users" [value]="user.username"></option>
              </datalist>
          </tr>
          <tr>
            <td><label class="selectChild bold-word label-drop-down" style="color: #777">Genre</label></td>
            <td><input list="genreSelected" id="genreName" class="input-box" autocomplete="off">
              <datalist class="selectChild" id="genreSelected" >
                <option class="selectChild" *ngFor="let genre of genres" [value]="genre.name"></option>
              </datalist></td>
          </tr>
          <tr>
            <td><label class="selectChild bold-word label-drop-down" style="color: #777">From</label></td>
            <td><div style="margin-top: 10px">
              <input style="color: #777" class="selectChild input-date-box" type="date" id="startDate" name="trip-start"
                     value="2021-08-01"
                     min="2021-01-01" max="2021-12-31">
              <span style="margin-left: 5%;margin-right: 4%;font-size:15px" style="color: #777"> to: </span>
              <input style="color: #777" class="selectChild input-date-box" type="date" id="endDate" name="trip-start"
                     value="2021-08-09"
                     min="2021-01-01" max="2021-12-31">
            </div>
              </td>
          </tr>
        </table>
    </div>
  </div>


