#selectBtn {
  display: none;
  float: left;
  height: 40px;
  padding: 0px 20px;
  font-size: 15px;
  line-height: 45px;
  color: #777;
  border: none;
  border-radius: 5px;
  margin-right: 7px;
}

.input-field {
  display: block;
}

#advance-search {
  display: none;
  background-color: var(--white);
  overflow: hidden auto;
  position: relative;
  border-radius: 2px;
  width: 42%;
  left: -31px;
}


.row {
  display: flex;
  padding: 8px 16px;
}

#searchBar {
  width: 20%;
  max-width: 30%;
}
#arrow_drop_down{
  position: absolute;
  right: 35px;
  top: 2px;
  height: 40px;
  line-height: 40px;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 16px;
  cursor: pointer; display: none
}
.bold-word{
  font-weight:bold;
  color: black;
}
.input-box{
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid black;
}
.input-date-box{
  border: none;
  border-bottom: 1px solid black;
  width:42%;
}
.label-drop-down{
  padding-top: 16px;
  margin-right: 10px;
}
