#selectBtn {
  display: none;
  float: left;
  height: 40px;
  padding: 0px 20px;
  font-size: 15px;
  line-height: 45px;
  color: #777;
  border: none;
  border-radius: 5px;
  margin-right: 7px;
}

.input-field {
  display: block;
}

.advance-search {
  display: none;
  background-color: var(--white);
  overflow: hidden auto;
  position: relative;
  border-radius: 2px;
  width: 30%;
}

.row {
  display: flex;
  padding: 8px 16px;
}

