#loginBtn{
  /*background-color: transparent;*/
  /*height: 40px;*/
  /*border: 1px solid #fff;*/
  /*margin-left: 0px;*/
  /*padding: 0px 31px;*/
  /*line-height: 40px;*/
  /*width: auto;*/
  /*margin-top: 10px;*/
  position: static;
  padding: 10px 30px;
  color: #333;
  border: 1px solid #333;
  background: #fff;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;
}
