<div style="margin-right: 15px" class="nav-item dropdown notification-ui show">
  <a (click)="isShow = !isShow" class="nav-link dropdown-toggle notification-ui_icon" id="navbarDropdown"
     role="button" aria-haspopup="true" aria-expanded="false">
    <span style="color: #3bc8e7; size: 2em"><i class="fa fa-lg fa-bell"></i></span>
    <span *ngIf="socketService.listNotificationUnRead.length>0" class="unread-notification"></span>
  </a>
  <div *ngIf="isShow" class="dropdown-menu notification-ui_dd show" aria-labelledby="navbarDropdown"
       style="font-size: small">
    <div class="notification-ui_dd-header">
      <h3 style="font-size: small" class="text-center">Notification</h3>
    </div>
    <div *ngIf="socketService.listNotificationUnRead.length>0" class="notification-ui_dd-content" style="overflow-y: auto; max-height: 400px" >
      <ng-container *ngFor="let notification of socketService.listNotification">
        <a href="#!" [ngClass]="{'notification-list--unread': !notification.status}" class="notification-list text-dark" >
          <div class="notification-list_img">
            <img src="{{notification.sender.avatarUrl}}" alt="user">
          </div>
          <div class="notification-list_detail">
            <p><b>{{notification.sender.username}}</b> <br><span class="text-muted">{{notification.action}}</span></p>
            <p class="nt-link text-truncate">{{notification.content}}</p>
          </div>
          <p><small>{{notification.createDate.getDate()}}/{{notification.createDate.getMonth()}}/{{notification.createDate.getFullYear()}}</small></p>
        </a>
      </ng-container>
    </div>
<!--    <div *ngIf="socketService.listNotificationUnRead.length==0" class="notification-ui_dd-content">-->
<!--      <a href="#!" class="notification-list text-dark" >-->
<!--        <div class="notification-list_img">-->
<!--          <img src="/assets/images/users/user1.jpg" alt="user">-->
<!--        </div>-->
<!--        <div class="notification-list_detail">-->
<!--          <p><b>No Notification</b> <br><span class="text-muted">in your area</span></p>-->
<!--&lt;!&ndash;          <p class="nt-link text-truncate">{{notification.content}}</p>&ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;        <p><small>{{notification.createDate.getDate()}}/{{notification.createDate.getMonth()}}/{{notification.createDate.getFullYear()}}</small></p>&ndash;&gt;-->
<!--      </a>-->
<!--    </div>-->
    <div class="notification-ui_dd-footer">
      <a href="#!" class="btn btn-success btn-block" style="font-size: small">View All</a>
    </div>
  </div>
</div>

