<div id="delete-confirm" class="modal centered-modal" role="dialog">
  <div class="modal-dialog login_dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
        <i class="fa_icon form_close"></i>
      </button>
      <p style="color: white; text-align: center; font-size: large;"> Are you sure to delete this song?</p>
      <div style="text-align: center; margin-top: 50px">
        <a #element id="deleteSong" style="background-color: #F55C05; cursor: pointer; color: white; width: 200px" class="ms_btn" (click)="deleteSong(element)">Sure, I want to delete</a>
        <a style="cursor: pointer; color: white; width: 200px" class="ms_btn" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
