<form #playlistForm ="ngForm">
  <div class="ms_upload_wrapper marger_top60">
    <div class="ms_upload_box">
      <h2>Upload cover image</h2>
      <img src="/assets/images/svg/upload.svg" alt="">
      <div class="ms_upload_btn">
        <input class="ms_btn" id="image" type="file" #preview (change)="showPreview($event)">
        <br>
        <img *ngIf="playlistDTO.imgUrl != null" style="width: 300px; height: 300px" [src]="playlistDTO.imgUrl" (click)="preview.click()">
        <!--               #preview (change)="showPreview($event)">-->
        <!--        <a href="#" class="ms_btn">save files</a>-->
      </div>
    </div>
    <div class=" marger_top60">
      <div class="ms_upload_box">
        <div class="ms_heading">
          <h1>Playlist Information</h1>
        </div>
        <div class="ms_pro_form">
          <div class="form-group">
            <label>Playlist Name *</label>
            <input type="text" required minlength="2" #name="ngModel" name="name" class="form-control" [(ngModel)]="playlistDTO.name">
          </div>
          <div *ngIf="!name.valid  && name.touched"
               class="alert alert-danger" role="alert">
            <p style="color: red; margin-top: 5px"  *ngIf="name?.errors?.minlength">
              name more than 2 characters
            </p>
            <p style="color: red; margin-top: 5px"  *ngIf="name?.errors?.required">
              name not be empty
            </p>
          </div>
          <div class="form-group">
            <label>Description *</label>
            <input type="text"  name="description" class="form-control" [(ngModel)]="playlistDTO.description">
          </div>
          <div class="form-group">
            <label>Select Genre</label>
            <select class="form-control" [(ngModel)]="initGenre" ngModel name="genres">
              <option *ngFor="let genre of genreList" [value]="genre.id" [selected]="initGenre === genre.id">{{genre.name}}</option>
            </select>
          </div>
                  <div class="pro-form-btn text-center marger_top15">
            <div class="ms_upload_btn">
              <a style="color: white" class="ms_btn" (click)="create(playlistForm)">Create</a>
              <a style="color: white" class="ms_btn" routerLink="">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <p>${{initGenre }}</p>-->
<!--  <p>${{genreList|json}}</p>-->
</form>
