<div class="ms_album_single_wrapper ms_artist_single">
  <div class="album_single_data">
    <div class="album_single_img">
      <img src="{{song.imgUrl}}" alt="" class="img-fluid" style="width: 240px;height: 240px;margin-top:30px">
    </div>
    <div class="album_single_text" style="color:white;">
      <h2>{{song.name}}</h2>
      <p class="singer_name">
        Genres: <span *ngFor="let genre of song.genres">{{genre.name}} </span>
      </p>
      <p class="singer_name">
        Author: <span>{{song.author}}</span>
      </p>
      <p class="singer_name">
        Album: <span>{{song.album}} </span>
      </p>
      <p class="singer_name">
        Singers: <span *ngFor="let singer of song.singers">{{singer.name}} </span>
      </p>
      <div class="about_artist">
        Description: {{song.description}}
      </div>
      <div class="about_artist">
        Tags: <span style="margin-right:10px;" *ngFor="let label of songLabels">#{{label }}</span>
      </div>
      <div class="album_btn">
        <a class="ms_btn play_btn"><span class="play_all"><img src="assets/images/svg/play_all.svg"
                                                               alt="">Play</span><span
          class="pause_all"><img src="assets/images/svg/pause_all.svg" alt="">Pause</span></a>
        <a class="ms_btn"><span class="play_all">
          <img src="assets/images/svg/add_q.svg" alt="">Add To Queue</span></a>
      </div>
      <br>
      <div class="album_btn">
        <a *ngIf="interactionDTO.likes" (click)="addFavourite()" >
          <i class="fas fa-heart fa-lg" style="color: #F5B7B1;"></i>
        </a>
        <a *ngIf="!interactionDTO.likes" (click)="addFavourite()" >
          <i class="far fa-heart fa-lg" style="color: #3bc8e7;"></i></a>
        <span style="padding-left: 15px">{{songInteractionsSubject.value.length}} likes</span>
      </div>
    </div>

    <div class="album_more_optn ms_more_icon">
      <span><img src="assets/images/svg/more.svg" alt=""></span>
    </div>
    <ul class="more_option">
      <li><a (click)="addFavourite()"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a>
      </li>
      <li><a (click)="editSong()"><span class="opt_icon"><span class="icon icon_queue"></span></span>Edit</a></li>
      <li><a (click)="showAddTagForm()"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add tags</a>
      </li>
      <li><a class="btn-confirm" (click)="deleteSong()">
        <span class="opt_icon"><span class="icon icon_dwn"></span></span>Delete</a></li>

    </ul>
  </div>

  <div class="blog_comments_forms">
    <h1>Leave A Comment</h1>
    <form [formGroup]="commentForm">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="comment_input_wrapper">
            <textarea id="comment" name="comment" class="cmnt_field" placeholder="Your Comments"
                      formControlName="comment"></textarea>
            <div *ngIf="commentForm.get('comment').touched">
              <p class="show-error-input" *ngIf="commentForm.get('comment').errors?.required">Comment can not be
                empty</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12">
          <div class="comment-form-submit">
            <input name="submit" type="submit" id="comment-submit" class="submit ms_btn" value="Post Comment"
                   (click)="addComment()">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="blog_comments">
    <h1>comments</h1>
    <ol>
      <li>
        <div class="ms_comment_section" *ngFor="let comment of comments" style="margin-top: 3px">
          <div class="comment_img">
            <img [src]="comment.sender.avatarUrl" alt="" style="width: 80px;height: 80px;">
          </div>
          <div class="comment_info">
            <div class="comment_head">
              <h3>{{comment.sender.username}}</h3>
              <p>{{comment.createdAt}}</p>
            </div>
            <p>{{comment.comment}}</p>
            <a class="comment_reply">reply</a>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>


