<div id="myModal" class="modal centered-modal" role="dialog">
  <div class="modal-dialog register_dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">
        <i class="fa_icon form_close"></i>
      </button>
      <form [formGroup]="userForm" (ngSubmit)="register()">
        <div class="modal-body">
          <div class="ms_register_img">
            <img src="/assets/images/register_img.png" alt="" class="img-fluid"/>
          </div>
          <div class="ms_register_form">
            <h2>Register / Sign Up</h2>
            <div class="form-group">
              <input type="text" placeholder="Enter username" class="form-control" formControlName="username">
              <span class="form_icon">
							<i class="fa_icon form-user" aria-hidden="true"></i>
							</span>
              <div *ngIf="userForm.get('username').touched">
                <p class="showErrorInput" *ngIf="userForm.get('username').errors?.required">Username
                  required</p>
                <p class="showErrorInput" *ngIf="userForm.get('username').errors?.pattern">Username can not contain space characters</p>
              </div>
              <p class="showErrorInput">{{dupUsername}}</p>
            </div>
            <div class="form-group">
              <input type="text" placeholder="Enter Your Phone Number" class="form-control"
                     formControlName="phoneNumber">
              <span class="form_icon" style="top: 12px;right: 15px;">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</span>
              <div *ngIf="userForm.get('phoneNumber').touched ">
                <p class="showErrorInput" *ngIf="userForm.get('phoneNumber').errors?.required">Phone
                  number required</p>
                <p class="showErrorInput" *ngIf="userForm.get('phoneNumber').errors?.pattern">Wrong
                  format</p>
              </div>
            </div>
            <div class="form-group" formGroupName="pwGroup">
              <input type="password" placeholder="Enter Password" class="form-control" formControlName="password" id="password_input">
              <span class="form_icon" >
						    <i class="fa_icon form-lock" aria-hidden="true"></i>
						</span>
              <div *ngIf="userForm.get('pwGroup.password').touched ">
                <p class="showErrorInput" style="color:red" *ngIf="userForm.get('pwGroup.password').errors">Password
                  must be 6-8 characters</p>
              </div>
            </div>
            <div class="form-group" formGroupName="pwGroup">
              <input type="password" placeholder="Confirm Password" class="form-control" formControlName="confirmPassword" id="confirm_pass_input">
              <span class="form_icon" >
						<i class=" fa_icon form-lock" aria-hidden="true"></i>
						</span>
              <div *ngIf="userForm.get('pwGroup.confirmPassword').dirty ">
                <p class="showErrorInput"  *ngIf="userForm.get('pwGroup.confirmPassword').errors">
                  Confirm pass is required</p>
                <p class="showErrorInput"  *ngIf="userForm.hasError('passnotmatch',['pwGroup'])">
                  Confirm pass does not match</p>
              </div>
            </div>
            <div style="margin-left: -70%;margin-top: -2%;">
              <input type="checkbox" (click)="togglePassword()">
              <label style="color: black">Show password</label>
            </div>
            <a class="ms_btn" (click)="register()">register now</a>
            <p>Already Have An Account? <a href="#myModal1" data-toggle="modal" class="ms_modal hideCurrentModel">login
              here</a></p>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
